.o-input-selector {
  $self: &;

  .multiselect {

    &__select:before {
      border-color: theme('colors.secondaryText');
      border-style: solid;
      border-width: 0 0 2px 2px;
      display: inline-block;
      height: 8px;
      top: 15%;
      transform: rotate(-45deg);
      width: 8px;
    }

    &__tags {
      background-color: theme('colors.cards');
      border: 1px solid theme('colors.secondaryStroke');
      border-radius: .25rem;
      padding-left: 18px;
      padding-top: 6px;
      transition-duration: .2s;
      transition-property: border;
      transition-timing-function: ease;

      &:hover {
        border-color: theme('colors.secondaryItems');
      }
    }

    &__input,
    &__single {
      background-color: transparent;
    }

    &__input {
      @include placeholder-style {
        color: theme('colors.secondaryText');
      }
    }

    &__placeholder {
      @apply t-text-base;
      color: theme('colors.secondaryText');
    }

    &__single,
    &__placeholder,
    &__input {
      @apply t-text-base;
      margin-bottom: theme('spacing.2');
      padding-left: 0;
      padding-top: 2px;
    }

    &__content {
      max-width: 100%;
      padding: theme('spacing.2') theme('spacing.3') theme('spacing.3');
    }

    &__content-wrapper {
      @include scrollbar;
      @include shadow-box;
      background-color: theme('colors.cards');
      border: none;
      border-bottom-left-radius: .25rem;
      border-bottom-right-radius: .25rem;
    }

    &__option {
      @apply t-text-base;
      border-radius: .25rem;
      color: theme('colors.text');
      margin-top: theme('spacing.1');
      min-height: 38px;
      padding: theme('spacing.2') theme('spacing.3');
      white-space: pre-wrap;
    }

    &__option--highlight {
      background-color: theme('colors.background');
    }

    &__option--selected {
      background-color: theme('colors.secondaryBackground');

      .multiselect__option-check {
        transform: scale(1);
      }
    }

    &__option--selected.multiselect__option--highlight {
      background-color: theme('colors.secondaryStroke');
    }

    &__option--disabled {
      background-color: transparent !important;
      color: theme('colors.inactive') !important;
    }
  }

  &.multiselect {

    &--disabled {

      .multiselect__current,
      .multiselect__select {
        background-color: transparent;
      }

      .multiselect__tags {
        background-color: theme('colors.background');
        border-color: theme('colors.inactive');
      }
    }

    &--above .multiselect__content-wrapper {
      border-radius: .25rem .25rem 0 0;
      box-shadow: 0 -5px 10px 3px #6e8eb840;
    }
  }

  &.o-input-selector--critical {

    .multiselect__tags {
      border-color: theme('colors.critical');
    }
  }
}
