.o-table-row-openable {
  position: relative;

  &:after {
    bottom: -14px;
    box-shadow: inset 0 8px 8px -2px #0505050f;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: transform .2s ease;
    z-index: theme('zIndex.base');
  }

  &--opened:after {
    transform: scaleY(1);
  }
}

.o-table-func-btn {
  @apply t-text-base;
  align-items: center;
  border-radius: .25rem;
  color: theme('colors.secondaryText');
  display: flex;
  height: 40px;
  justify-content: center;
  min-width: 40px;
  transition-duration: .2s;
  transition-property: color, background-color;
  transition-timing-function: ease;
  width: 40px;

  &:hover {
    color: theme('colors.secondaryItems');
  }

  &:active {
    background-color: theme('colors.background');
  }

  &--trigger {

    &:before {
      transform: rotate(90deg);
      transition: transform .2s ease;
    }

    &-opened:before {
      transform: rotate(0);
    }
  }
}
