.o-wrapper-sign {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__inner {
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: auto;
    margin-top: auto;
    max-width: fit-content;
    min-width: 300px;
    padding: 32px 40px;
    width: 100%;

    &--start {
      margin-top: theme('spacing.6');
    }
  }
}
