/* ==========================================================================
   #MIXINS
   ========================================================================== */

/**
 * The mixins tools file contains functions for generating common CSS patterns;
 * Most notable is the keyframes mixin for generating keyframes cross-browser.
 */

/* stylelint-disable at-rule-no-vendor-prefix, selector-no-vendor-prefix */

@mixin keyframes($_name) {
  @-webkit-keyframes #{$_name} {
    @content;
  }

  @-moz-keyframes #{$_name} {
    @content;
  }

  @-o-keyframes #{$_name} {
    @content;
  }

  @keyframes #{$_name} {
    @content;
  }
}



@mixin count-items($_count: count) {
  &:first-child:nth-last-child(#{$_count}),
  &:first-child:nth-last-child(#{$_count}) ~ & {
    @content;
  }
}

// If you want hover classes to only apply from a certain breakpoint
@mixin hover($_from: device) {
  @include mq($from: $_from) {

    &:hover {
      @content;
    }
  }
}

@mixin h-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin object-fit() {
  height: 100%;
  object-fit: cover;
  width: 100%;

  &__container {

    &--fallback {
      background-size: cover;
      display: block;
    }
  }
}

@mixin placeholder-style() {

  &::placeholder {
    @content;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @content;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }
}

@mixin focus-style() {
  outline: 1px solid theme('colors.secondaryItems');
}

/* stylelint-enable at-rule-no-vendor-prefix, selector-no-vendor-prefix */

@mixin shadow-box() {
  box-shadow: 0 5px 10px -3px #6e8eb840;
}
