$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-check-message: unquote('"\\e94d"');
$icon-file-pdf: unquote('"\\e945"');
$icon-double-check-message: unquote('"\\e946"');
$icon-item-bitcoin: unquote('"\\e947"');
$icon-file-archive: unquote('"\\e948"');
$icon-file-word: unquote('"\\e949"');
$icon-file-excel: unquote('"\\e94a"');
$icon-file-csv: unquote('"\\e94b"');
$icon-map-marker-alt: unquote('"\\e94c"');
$icon-item-laptop: unquote('"\\e944"');
$icon-action-bars: unquote('"\\e911"');
$icon-action-bin: unquote('"\\e914"');
$icon-action-calendar: unquote('"\\e924"');
$icon-action-camera: unquote('"\\e913"');
$icon-action-check-mark: unquote('"\\e920"');
$icon-action-copy: unquote('"\\e90e"');
$icon-action-cross: unquote('"\\e90b"');
$icon-action-dots: unquote('"\\e90d"');
$icon-action-download: unquote('"\\e942"');
$icon-action-filter: unquote('"\\e926"');
$icon-action-go-out: unquote('"\\e90f"');
$icon-action-lens: unquote('"\\e910"');
$icon-action-minus: unquote('"\\e93f"');
$icon-action-pen: unquote('"\\e912"');
$icon-action-plus: unquote('"\\e90c"');
$icon-action-reply: unquote('"\\e927"');
$icon-action-setting: unquote('"\\e921"');
$icon-action-share: unquote('"\\e928"');
$icon-arrow-bottom: unquote('"\\e906"');
$icon-arrow-circle-right: unquote('"\\e933"');
$icon-arrow-circle-up: unquote('"\\e934"');
$icon-arrow-double-left: unquote('"\\e909"');
$icon-arrow-double-right: unquote('"\\e90a"');
$icon-arrow-left: unquote('"\\e903"');
$icon-arrow-line-bottom: unquote('"\\e91f"');
$icon-arrow-line-left: unquote('"\\e929"');
$icon-arrow-line-right: unquote('"\\e92a"');
$icon-arrow-line-top: unquote('"\\e908"');
$icon-arrow-narrow-bottom: unquote('"\\e922"');
$icon-arrow-narrow-top: unquote('"\\e923"');
$icon-arrow-right: unquote('"\\e904"');
$icon-arrow-switch: unquote('"\\e900"');
$icon-arrow-sync: unquote('"\\e925"');
$icon-arrow-top: unquote('"\\e905"');
$icon-eye: unquote('"\\e901"');
$icon-eye-cross: unquote('"\\e902"');
$icon-item-arrow-clock: unquote('"\\e93b"');
$icon-item-asterisk: unquote('"\\e92b"');
$icon-item-bell: unquote('"\\e91b"');
$icon-item-bubble-message: unquote('"\\e907"');
$icon-item-cards: unquote('"\\e937"');
$icon-item-circle-cross: unquote('"\\e938"');
$icon-item-circle-exclamation: unquote('"\\e936"');
$icon-item-circle-info: unquote('"\\e91c"');
$icon-item-circle-question: unquote('"\\e91a"');
$icon-item-clock: unquote('"\\e935"');
$icon-item-coins: unquote('"\\e919"');
$icon-item-credit-card: unquote('"\\e915"');
$icon-item-envelope: unquote('"\\e92c"');
$icon-item-exchange: unquote('"\\e917"');
$icon-item-exclamation: unquote('"\\e93c"');
$icon-item-file: unquote('"\\e92d"');
$icon-item-file-img: unquote('"\\e940"');
$icon-item-file-pdf: unquote('"\\e941"');
$icon-item-file-upload: unquote('"\\e92e"');
$icon-item-globe: unquote('"\\e939"');
$icon-item-info: unquote('"\\e93d"');
$icon-item-lock: unquote('"\\e92f"');
$icon-item-mass: unquote('"\\e93a"');
$icon-item-paperclip: unquote('"\\e943"');
$icon-item-percentage: unquote('"\\e930"');
$icon-item-phone: unquote('"\\e931"');
$icon-item-question: unquote('"\\e93e"');
$icon-item-table-list: unquote('"\\e916"');
$icon-item-th-large: unquote('"\\e932"');
$icon-user-briefcase: unquote('"\\e91e"');
$icon-user-double: unquote('"\\e918"');
$icon-user-main: unquote('"\\e91d"');
$icon-item-target: unquote('"\\e9b3"');

