/* ==========================================================================
  #TOOLTIP
  ========================================================================== */

@mixin tooltip-arrow($direction, $color) {
  $borderSize: 6px;
  border-color: transparent;
  border-style: solid;
  content: '';
  height: 0;
  position: absolute;
  width: 0;

  @if $direction == 'right' {
    border-bottom-width: $borderSize;
    border-right-color: $color;
    border-right-width: $borderSize;
    border-top-width: $borderSize;
    left: 0;
    top: calc(50% - $borderSize);
  } @else if $direction == 'bottom' {
    border-bottom-color: $color;
    border-bottom-width: $borderSize;
    border-left-width: $borderSize;
    border-right-width: $borderSize;
    left: calc(50% - $borderSize);
    top: 0;
  } @else if $direction == 'left' {
    border-bottom-width: $borderSize;
    border-left-color: $color;
    border-left-width: $borderSize;
    border-top-width: $borderSize;
    right: 0;
    top: calc(50% - $borderSize);
  } @else if $direction == 'top' {
    border-left-width: $borderSize;
    border-right-width: $borderSize;
    border-top-color: $color;
    border-top-width: $borderSize;
    bottom: 0;
    left: calc(50% - $borderSize);
  }
}

.o-tooltip {
  max-width: 300px;
  opacity: 0;
  position: absolute;
  transition: opacity .3s ease;
  z-index: theme('zIndex.tooltip');

  &__inner {
    @apply t-text-sm;
    background-color: theme('colors.text');
    border-radius: 6px;
    color: theme('colors.white');
    padding: theme('spacing.1') theme('spacing.2');
  }

  &--show {
    opacity: 1;
  }

  &--left {
    padding-right: 5px;

    &:after {
      @include tooltip-arrow('left', theme('colors.text'));
    }
  }

  &--top {
    padding-bottom: 5px;

    &:after {
      @include tooltip-arrow('top', theme('colors.text'));
    }
  }


  &--right {
    padding-left: 5px;

    &:after {
      @include tooltip-arrow('right', theme('colors.text'));
    }
  }

  &--bottom {
    padding-top: 5px;

    &:after {
      @include tooltip-arrow('bottom', theme('colors.text'));
    }
  }
}
