/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 */

html,
body,
#__nuxt {
  height: 100%;
}

body {
  @apply t-text-base;
  background-color: theme('colors.background');
  color: theme('colors.text');
  font-family: theme('fontFamily.content');
}

b,
strong {
  font-weight: 700;
}

code {
  font-family: theme('fontFamily.mono');
}
